@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

button{
    background-color: #0389dd;
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Raleway', sans-serif !important;
}
