<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Username
          </th>
          <th>
            Password
          </th>
          <th>
            Usertype
          </th>
          <th>
            Edit
          </th>
          <th>
            User
          </th>
          <th>
            InfoUser
          </th>
        </tr>
        <tr>
          <td>
            <input placeholder="username" [(ngModel)]="usertoinsert.username">
          </td>
          <td>
            <input placeholder="password" [(ngModel)]="usertoinsert.password">
          </td>
          <td>
            <select placeholder="usertype" [(ngModel)]="usertoinsert.usertype">
              <option value="ADMIN">ADMIN</option>
              <option value="USER">USER</option>
            </select>
          </td>
          <td>
            <button (click)="insert(usertoinsert)">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
          <td>            
          </td>
        </tr>
        <tr *ngFor="let user of users">
            
                     
          
          <td>
            <input [(ngModel)]="user.username">
          </td>
          <td>
            <input [(ngModel)]="user.password">
          </td>
          <td>
            <select [(ngModel)]="user.usertype">
              <option [selected]="user.usertype===ADMIN" value="ADMIN">ADMIN</option>
              <option [selected]="user.usertype===USER" value="USER">USER</option>
            </select>
          </td>
          <td>
            <button (click)=update(user)>Save</button>
          </td>
          <td>
            <button (click)="delete(user)">Delete</button>
          </td>
          <td>
            
            <a (click)= "visualizza()">
            <img src="../../../../assets/infoUser.png" alt="header" style="width:20%; height: 20%;">
            </a>
          </td>
        </tr>
        <div id= "user.id"></div>
       
      </table>
    </div>
    <div class="col-md-1">
      
    </div>
  </div>
</div>