<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <img src="../../assets/logo.svg" alt="logo">
    </div>
    <div class="col-md-8 text-center">
      <form #f="ngForm">
        <h2>Welcome</h2>
        <h2>iShortner App</h2>
        <br>
        <div class="form-group">
          <input class="form-control" type="text" id="user" name="username" placeholder="Username" ngModel>
        </div>
        <div class="form-group">
          <input class="form-control" type="password" id="pass" name="password" placeholder="Password" ngModel>
        </div>
        <br>
        <button class="btn btn-success mr-4" type="submit" (click)="login(f)">Login</button>
          <a class="register" [routerLink]="['/login/register']">Registrati</a>
      </form>
    </div>
  </div>
</div>