*{
    text-align: center;
}

.container {
    margin-top: 2%;
}

p {
    font-size: 1.5em;
}

input {
    width: 20%;
    margin-top: 1em;
    margin-right: 1em;
    text-align: left;
    padding-left: 0.5em;
    font-size: 1.1em;
}

button {
    width: 6em;
}

.error {
    margin: 1em auto;
    text-align: center;
    color: darkred;
    width: 25%;
    padding: 2px;
    border: 1px solid darkred;
}

.warning {
    margin-right: 20%;
}