*{
    text-align: center;
}

.container {
    margin-top: 2%;
}

p {
    font-size: 1.5em;
}

input {
    width: 20%;
    margin-top: 1em;
    margin-right: 1em;
    text-align: left;
    padding-left: 0.5em;
    font-size: 1.1em;
}

button {
    width: 6em;
}
button:disabled {
    background: rgb(210, 125, 20);
}

.war {
    width: 26%;
    margin: auto;
}
.warning {
    text-align: left;
    margin-right: 7em;
    padding: 1px 3px;
    color: darkred;
    background: rgb(240, 185, 185);
}

.error {
    display: inline-block;
    width: 20%;
    margin-top: 1em;
    margin-right: 1em;
    padding: 2px;
    color: darkred;
    background: rgb(240, 185, 185);
}