form {
    width: 100%;
}

img {
    width: 50%;
    margin: -2%;
}

mat-form-field.mat-form-field {
    width: 70%;
    font-size: 1.5em;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background: white;
    border-color: forestgreen;
}
::ng-deep .mat-form-field-underline {
    background-color: forestgreen;
}

.mat-raised-button {
    background-color: forestgreen;
    color: beige;
}

mat-checkbox {
    margin-right: 10%;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: rgb(50, 50, 50) !important;
}
::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
    background-color: grey !important;
}

.full {
    padding-top: 8%;
}

.contain {
    width: 40%;
    padding: 2%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    border-color: rgb(215, 215, 215);
    background-color: rgb(245, 245, 245);
    border-style: solid;
}

.register {
    margin-top: 3%;
}