<div class="full">
  <div class="contain">
    <img src="../../assets/iShort.png" alt="logo">
    <h1>Welcome</h1><br>
    <form #f="ngForm">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input ngModel name="username" matInput placeholder="Your username">
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input ngModel name="password" matInput [type]="hide ? 'password' : 'text'" placeholder="Your password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </p>
      <div *ngIf="err">Invalid username or password!</div>

      <mat-checkbox ngModel name="chkbox">Remember me</mat-checkbox>
      <button mat-raised-button type="submit"  (click)="login(f)">Login</button>

      <p class="register">Don't have an account? <a [routerLink]="['/login/register']">Sign in</a></p>
    </form>
  </div>
</div>
