<div class="container">
  <div class="row">
    <div class="col">
      <h1 style="text-align: center">Welcome {{user.login}}</h1>
    </div>
  </div>
  <div class="row mt-5 text-center">
    <div class="col">
      <h2>
        This is iShortner! The new Contrader's Start-up for your URL!
      </h2>
      <br><br>
      <h3>
        The tecnology of this Start-up is based on Microservices using JHipster scaffolding to create
        the Gateway and other microservice app. To User-Friendly interface we use Angular framework that
        sends request to Gateway who call directly the microservice searched. The gateway can call the 
        following microservices:
      </h3>
      <br><br>
      <h3>
        URL
      </h3>
      <h3>
        Server
      </h3>
      <h3>
        Stats
      </h3>
    </div>
  </div>
  <br><br>
  <div class="row mt-5">
    <div class="col">
      <h2 class="text-center">Teamwork Developer</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-2">
      <h4>Gianmarco</h4>
    </div>
    <div class="col-2">
      <h4>Matteo</h4>
    </div>
    <div class="col-2">
      <h4>Francesco</h4>
    </div>
    <div class="col-2">
      <h4>Gianfilippo</h4>
    </div>
    <div class="col-2">
      <h4>Valeria</h4>
    </div>
    <div class="col-2">
      <h4>Angela</h4>
    </div>
  </div>
</div>