<div class="container">
  <div class="row">
    <div class="col">
      <h1 style="text-align: center">Welcome {{user.login}}</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h3>
        This is iShortner! The new Contrader's Start up for your URL!
      </h3>
      <h3>
        The tecnology is based on Microservices using JHipster scaffolding
      </h3>
    </div>
  </div>
  <div class="row">
    
  </div>

  <div class="row mt-5">
    <div class="col">
      <h4 class="text-center">Developer Team</h4>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-2">
      <h4>Gianmarco</h4>
    </div>
    <div class="col-2">
      <h4>Matteo</h4>
    </div>
    <div class="col-2">
      <h4>Francesco</h4>
    </div>
    <div class="col-2">
      <h4>Gianfilippo</h4>
    </div>
    <div class="col-2">
      <h4>Valeria</h4>
    </div>
    <div class="col-2">
      <h4>Angela</h4>
    </div>
  </div>
</div>