<div id="header" class="row no-gutters">
  <div class="col-md-2 " style="background-color: #1e282d; display: inline-block">
      <p><img src="../../../assets/user.svg" style="height:30px; margin:0.5%;"> {{user.login}}</p>
  </div>

  <div class="col-md-3 mt-2">
      <div class="searchContainer">
         
         
      </div>
  </div>
  <div class="col-md-4" style="text-align: center">
      <img class = "ishort" src="../../../assets/iShort.png" alt="header" style="width:30%; height: 30%;">
  </div>
  <div class="col-md-1" style="text-align: center">
  </div>
  <div class="col-md-2 mt-3" style="display: inline-block">

  </div>
</div>