<div id="header" class="row no-gutters">
  <div class="col-md-2 " style="background-color: #1e282d; display: inline-block">
      <p><img src="../../../assets/user.svg" style="height:30px; margin:0.5%;"> {{user.login}}</p>
  </div>

  <div class="col-md-3 mt-2">
      <div class="searchContainer">
         
         
      </div>
  </div>
  <div class="col-md-4" style="text-align: center">
      <img class = "ishort" src="../../../assets/iShort.png" alt="header" style="width:30%; height: 30%;">
  </div>
  <div class="col-md-1" style="text-align: center">
  </div>
  <div class="col-md-2 mt-3" style="display: inline-block">

  </div>
</div>

<nav class="navbar navbar-light light-blue lighten-4 mt-4">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Navbar</a>
  
    <!-- Collapse button -->
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
      aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
          class="fas fa-bars fa-1x"></i></span></button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <!-- Links -->
  
    </div>
    <!-- Collapsible content -->
  
  </nav>